header {
    background-color: white; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    display: none; 
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

nav {
    margin-left: auto; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #111;
    color: white;
}

body {
    padding-top: 60px; 
}
